rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
     	allow read, write: if true; 
    }
    
    match /admin/adminbereich {
    	allow read;
    	allow update: if request.auth.uid in resource.data.adminIDs;
    }
    
    match /anlaesse/{anlassID} {
    	allow read, update: if request.auth != null;
    	allow write: if isSchalei();
    }
    
    match /FAQ/{faqID} {
     	allow read: if request.auth != null;
    	allow write: if isSchalei();
    }
    
    match /Nachrichten/{chatID} {
    	allow read, write: if request.auth != null && (chatID.matches('scharleitung_' + request.auth.uid) || isSchalei());
    }
    
    match /adminNachricht/{nachrichtID} {
    	allow read: if request.auth != null;
      allow write: if isSchalei();
    }
          
    match /aemtli/{aemtliID} {
    	allow read: if isLeiter(); 
    	allow write: if isSchalei();
    }
    
    match /projekt/{projektID} {
    	allow read: if isLeiter();
    	allow write: if isSchalei();
    }
    
    match /Produkte/{produktID} {
    //update because of sells count
    	allow read, update: if request.auth != null;
    	allow write: if isShopAdmin() || isSchalei();
    }
    
    match /bestellungen/{bestellungID} {
    	allow read, create: if request.auth != null;
      allow update: if isShopAdmin() || isSchalei();
    }
    
    match /aktuelleWoche/raeume/{document=**} {
    	allow read, update: if isLeiter();
    }
    
    match /gruppen/{gruppeID} {
     allow read;
     allow update: if isLeiter();
     allow write: if isSchalei();
    }
        
    match /feedback/{feedbackID} {
    	allow write: if request.auth.uid != null;
      allow read: if false;
    }
    
    match /Personen/Person/Leiter/{leiterID} {
    	allow read: if request.auth.uid != null;
      allow create, update: if request.auth.uid == leiterID || isSchalei();
      allow delete: if isSchalei();
    }
    
    match /Personen/Person/Aussenstehende/{aussenstehenderID} {
    allow read: if request.auth.uid != null && (request.auth.uid == aussenstehenderID || isLeiter());
    	allow create, update: if request.auth.uid != null && request.auth.uid == aussenstehenderID;
    }
    
    match /verlaufKueche/{reservationsID} {
    	allow read, create: if isLeiter();
      allow delete: if request.auth.uid == reservationsID;
    }
    
    match /sperrungen/{sperrungID} {
    	allow read: if isLeiter();
      allow write: if isSchalei();
    }
    
     	      
    //FUNKTIONEN
  	function isLeiter() {
    	return request.auth != null && exists(/databases/$(database)/documents/Personen/Person/Leiter/$(request.auth.uid));
    }
    
    function isSchalei() {
      return request.auth != null && request.auth.uid in get(/databases/$(database)/documents/admin/adminbereich).data.adminIDs;
   	}
    
    function isShopAdmin() {
      return request.auth != null && request.auth.uid in get(/databases/$(database)/documents/admin/adminbereich).data.shopAdminIDs;
   	}
	}	
}